@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  font-family: "News Cycle", sans-serif;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #b7b7ae;
}
.btn {
  @apply rounded-[4px] border-[1px] border-aesyc-background bg-gradient-to-r from-primary-0 to-primary-100 px-6 text-center font-sans text-base font-bold leading-10 text-bg1;
}

.blog-card {
  @apply flex flex-col items-start gap-4 p-0;
}

.pagenavi {
  @apply mx-auto flex  items-center space-x-4 px-0 pt-8 pb-0 xl:space-x-[400px];
}
.pagenavi a {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  text-decoration: none;
  color: #666;
  background-color: inherit;
}
.pagenavi a:hover {
  color: #444;
  background-color: #dee600;
}
.pagenavi span.pages {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  color: #000000;
  font-weight: bold;
  /* border: 1px solid #777; */
  background-color: inherit;
}
.pagenavi span.current {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  font-weight: bold;
  color: #dee600;
}
.pagenavi span.expand {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  color: #444;
  background-color: inherit;
}
.pagenavi .first,
.pagenavi .last {
  border: 1px solid #aaa;
}

.post-categories a {
  @apply text-center text-base font-bold leading-4 text-primary-0;
}

.updated {
  @apply text-center text-sm font-normal leading-4 text-txSec;
}

ul.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.post-categories li {
  margin: 0;
  padding: 0;
}
ul.post-categories a {
  margin: 0;
  color: #dee600;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.prose p {
  font-size: 20px;
  color: #dbdbd7;
  font-weight: 400;
  line-height: 32px;
}
