@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  font-family: "News Cycle", sans-serif;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #b7b7ae;
}
.btn-pry {
  @apply rounded-[4px] border-[1px] border-aesyc-background bg-gradient-to-r from-primary-0 to-primary-100 px-6 text-center font-sans text-base font-bold uppercase leading-10 text-bg1;
}

.btn-sec {
  @apply rounded-[4px]  border-[1px] px-6 text-center font-sans text-base font-bold uppercase leading-10 text-primary-50;
}

.blog-card {
  @apply flex flex-col items-start gap-4 p-0;
}
/* page navigation */
.pagenavi {
  @apply mx-auto flex  items-center space-x-4 px-0 pt-8 pb-0 xl:space-x-[400px];
}
.pagenavi a {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  text-decoration: none;
  color: #666;
  background-color: inherit;
}
.pagenavi a:hover {
  color: #444;
  background-color: #dee600;
}
.pagenavi span.pages {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  color: #000000;
  font-weight: bold;
  /* border: 1px solid #777; */
  background-color: inherit;
}
.pagenavi span.current {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  font-weight: bold;
  color: #dee600;
}
.pagenavi span.expand {
  padding: 5px 6px 4px 6px;
  margin: 3px;
  color: #444;
  background-color: inherit;
}
.pagenavi .first,
.pagenavi .last {
  border: 1px solid #aaa;
}

.post-categories a {
  @apply text-center text-base font-bold leading-4 text-primary-0;
}

.updated {
  @apply text-center text-sm font-normal leading-4 text-txSec;
}

ul.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.post-categories li {
  margin: 0;
  padding: 0;
}
ul.post-categories a {
  margin: 0;
  color: #dee600;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.prose p {
  font-size: 20px;
  color: #dbdbd7;
  font-weight: 400;
  line-height: 32px;
}
/* featured image */
.img-box::after {
  content: "";
  display: block;
  background: #181816;
  right: -50px;
  top: 0;
  width: 120px;
  height: 100%;
  z-index: 50;
  position: absolute;
  transform: skewX(-15deg) translateX(-396px);
}

.hero-pattern {
  background: radial-gradient(
    39.57% 61.86% at 66.11% 58%,
    #41413a 0%,
    #262622 63.48%,
    #181816 85.09%,
    #0d0d0c 99.87%
  );

  .social-pattern {
    background: linear-gradient(180deg, rgba(24, 24, 22, 0) 0%, #181816 50%);
  }
  .pt-140 {
    padding-top: 140px;
  }
}
/* Tabs */
.nav-tabs .nav-link {
  @apply text-lg font-normal leading-8 text-txSec;
}
.nav-tabs .nav-link.active {
  @apply border-b-primary-50 text-primary-50;
}
/* carousel */

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #000;
  /*Set to match the Tailwind colour you want the active one to be */
}
